@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  color: #272343;
  font-family: Noto;
  font-size: 20px;
  background: #f6f7f7;
}
h1, h2 {
  font-size: 26px;
  color: #283742;
  margin-bottom: 1.2em;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}
h2 {
  margin-top: 0;
}
p {
  margin: 30px 31px;
  text-align: center;
  line-height: 30px;
  padding-bottom: 10px;
  font-family: 'Karla', sans-serif;
}
p.text {
  color: #283742;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  letter-spacing: 1px;
}
a:hover {
  color: #283742;
}
a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}
.badge-secondary {
  color: #fff;
  background-color: #838c94;
  margin: 0 .125em .333em 0;
  line-height: 18px;
}

.btn-floating.halfway-fab {
  /* position: absolute; */
  /* right: 125px; */
  bottom: 5px;
}
.btn-floating  {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-right: 0px;
  background-color: #f44336;
  border-radius: 50%;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}
.btn-floating:hover {
  background-color: rgba(255,255,255,0.5);
  color: #fff;
}

.btn-floating:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 1000%;
  background: rgba(244, 67, 54,0.7);
  z-index: -1;
  transform-origin: 0% 0%;
  transform: translateX(calc(10% - 25px)) translateY(10%) rotate(-45deg);
  transform: translateY(10%) translateX(16%) rotate(-45deg);
  transition: transform .3s;
}
.btn-floating:hover::after {
  transform: translateY(10%) translateX(-30px) rotate(-45deg);
}
.badge {
  font-family: 'Karla', sans-serif;
}
.card-body {
  /* padding-top: 5px; */
  margin-top: -10px;
}

.inline a {
  color: #283742;
  font-size: 25px;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}
.inline a:hover {
  color: #bad1e8;
  transition: all 0.3s ease;
}
ul.inline {
  display: flex;
  justify-content: center;
}
.cards a {
  font-size: 25px;
}
.card_white {
  background-color: white;
  padding: 30px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 10px 10px rgba(90, 90, 90, 0.05);
  text-align: center;
}
.card_white:first-of-type {
  margin: 80px auto;
}
.cards_projects {
  padding: 30px;
  margin: 50px auto;
  text-align: center;
}
/* #btn-color {
  background-color: #283742;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  margin: 15px 4px;
}
#btn-color:hover {
  background-color: #bad1e8;
  transition: all 0.3s ease;
} */
.navbar.scrolled {
  background: #f6f7f7;
  transition: background 500ms;
}
#spacer { 
  height:1px; 
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
  }
}

.navbar-nav {
  flex: .915;
  display: flex;
  justify-content: center;
}

img {
  /* background-size: cover;
  background-image: url('images/i-4HCZTK4-4K.png'); */
  width: 350px;
  height: 350px;
  margin: 0 auto;
  border-radius: 50%;
  transition: opacity .5s linear;
  cursor: pointer;
}
/* #foto:hover {
  background-image: url("images/i-KLsZ98J-4K.png");
} */
#panoplia {
  background-size: cover;
  background-image: url('images/portfolio-panoplia-2.png');
  margin: 15px;
  object-fit: cover;
}
#ripio {
  background-size: cover;
  background-image: url('images/portfolio-ripio.png');
  margin: 15px;
  object-fit: cover;
}
#loker{
  background-size: cover;
  background-image: url('images/portfolio-localocker.png');
  margin: 15px;
  object-fit: cover;
}
#candy {
  background-size: cover;
  background-image: url('images/portfolio-museum-of-candy.png');
  margin: 15px;
  object-fit: cover;
}
#insta{
  background-size: cover;
  background-image: url('images/portfolio-insta.png');
  margin: 15px;
  object-fit: cover;
}
#game{
  background-size: cover;
  background-image: url('images/portfolio-color-game.png');
  margin: 15px;
  object-fit: cover;
}

#proffy{
  background-size: cover;
  background-image: url('images/Proffy.jpeg');
  margin: 15px;
  object-fit: cover;
}

#key{
  background-size: cover;
  background-image: url('images/portfolio-key-sound.png');
  margin: 15px;
  object-fit: cover;
}

#canvas{
  background-size: cover;
  background-image: url('images/portfolio-fun-canvas.png');
  margin: 15px;
  object-fit: cover;
}
#git-search{
  background-size: cover;
  background-image: url('images/portfolio-leo-github-search.png');
  margin: 15px;
  object-fit: cover;
}
#dribbble{
  background-size: cover;
  background-image: url('images/portfolio-dribbble.png');
  margin: 15px;
  object-fit: cover;
}
#weather{
  background-size: cover;
  background-image: url('images/portfolio-weather.png');
  margin: 15px;
  object-fit: cover;
}
#art-portfolio{
  background-size: cover;
  background-image: url('images/portfolio-art-portfolio.png');
  margin: 15px;
  object-fit: cover;
}
#happy{
  background-size: cover;
  background-image: url('images/portfolio-happy.png');
  margin: 15px;
  object-fit: cover;
}
#chair{
  background-size: cover;
  background-image: url('images/portfolio-chair.gif');
  margin: 15px;
  object-fit: cover;
}
#clickconnect{
  background-size: cover;
  background-image: url('images/portfolio-clickconnect.png');
  margin: 15px;
  object-fit: cover;
}
#yelpcamp{
  background-size: cover;
  background-image: url('images/portfolio-yelpcamp.png');
  margin: 15px;
  object-fit: cover;
}
#dolla{
  background-size: cover;
  background-image: url('images/portfolio-dolla.gif');
  margin: 15px;
  object-fit: cover;
}
.inline > li {
  list-style: none;
  display: inline-block;
  padding-left: 0;
}
.fab {
  font-size: 45px;
  margin: 0px 0.5rem;
  padding: 20px 25px;
}
.inline {
  padding: 0;
}
#btn {
  margin-bottom: 10px;
}
.container {
  width: 950px;        /* Set the width */
  margin: 0 auto;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  .content {
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  h1 {
    font-size: 28px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  #foto {
  width: 150px;
  height: 150px;
  }
  img {
    width: 150px;
    height: 150px;
  }
  .fab {
    font-size: 40px;
    margin: 0px auto;
  }
  h1 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
    margin: 20px 0px;
  }
  p.title {
    font-size: 25px;
  }
  .cards {
    min-width: 300px;
  }
  .cards_projects{
    padding: 0px;
    flex-grow: 1;
  }
  #btn-color {
  	font-size: 16px;
  }
  .wrap{
    font-size: 17px;
  }
}
@media (max-width: 300px) {
  .fab {
    font-size: 12px;
  }
}
.content {
  max-width: 1024px;
  padding: 0 50%;
  margin: 0 auto;
  display: grid;
  justify-content: space-around;
  /* align-items: center; */
  grid-template-columns: repeat(3, 1fr);
}
.cards {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 10px 10px rgba(90, 90, 90, 0.05);
  font-size: 16px;   
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) { 
  .content {grid-template-columns: repeat(2, 1fr);}
}
@media (max-width: 600px) {
  .content {grid-template-columns: repeat(1, 1fr);}
}
.title {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: transparent;
}
.cards .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 75px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.cards .text {
  width: 85%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height:0;
}
.cards:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height:40px;
}
.cards:hover .title {
  color: #283742;
  transition: all 0.3s ease;
}
.data:hover {
  background-color: rgba(255,255,255,0.83);
  width: 300px;
  height: 300px;
  transition: all 0.2s ease;
}
.data {
  height: 100%;
  width: 100%;
}
#accordion {
  margin-top: -33px;
  margin-left: 13px;
  width: 303px;
}
/* ---- reset ---- */ 
#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}
/* ---- stats.js ---- */ 
.count-particles { 
  background: #000022; 
  position: absolute; 
  top: 48px; 
  left: 0; 
  width: 80px; 
  color: #13E8E9; 
  font-size: .8em; 
  text-align: left; 
  text-indent: 4px; 
  line-height: 14px; 
  padding-bottom: 2px; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: bold; 
} 
.js-count-particles { 
  font-size: 1.1em; 
} 

#stats, .count-particles { 
  -webkit-user-select: none; 
  margin-top: 5px; 
  margin-left: 5px; 
}
#stats{ 
  border-radius: 3px 3px 0 0; 
  overflow: hidden; 
} 
.count-particles { 
  border-radius: 0 0 3px 3px; 
}
@media (max-width: 600px) {
  #particles-js{ 
    height: 400%;
  }
}
  /* ---- stats.js ---- */ 
.count-particles{ 
  background: #000022; 
  position: absolute; 
  top: 48px; 
  left: 0; 
  width: 80px; 
  color: #13E8E9; 
  font-size: .8em; 
  text-align: left; 
  text-indent: 4px; 
  line-height: 14px; 
  padding-bottom: 2px; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: bold; 
} 
.js-count-particles { 
  font-size: 1.1em; 
} 
#stats, .count-particles { 
  -webkit-user-select: none; 
  margin-top: 5px; 
  margin-left: 5px; 
}   
#stats { 
  border-radius: 3px 3px 0 0; 
  overflow: hidden; 
}
.count-particles { 
  border-radius: 0 0 3px 3px; 
}
.fa-pen-square {
  font-size: 2.8rem;
  padding: 20px 25px;
}
@media (max-width: 541px) {
  .fa-pen-square {
    font-size: 1.875rem;
    padding: 20px 25px;
  }
  /* ul.inline {
    display: inline;
  } */
}
.footer{
  text-align: center;
  font-family: 'Karla', sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}

.typewrite {
  font-size: 26px;
  color: #283742;
  margin-bottom: 1.2em;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}